<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Tesco Search</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="item-search" name="item-search" type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button id="submit-search" class="btn-primary">Search</button>
          </div>
        </div>
      </form>

      <ul>
        {% for item in items %}
        <li>
          <div class="col">
            <div class="row">
              <img alt="image" src="{{ items[item]['image'] }}">
              <span style="margin-right: 30px;">{{items[item]["name"]}}</span>
              <form action="{{ url_for('main_bp.add_item_to_cart') }}" method="POST" enctype="multipart/form-data">
                <input id="add-item" name="add-item" type="hidden" value="{{ item }}">
                <button id="submit-item" class="btn btn-warning">Add</button>
              </form>
            </div>
          </div>
        </li>
        <br >
        <br >
        <br >
        {% endfor %}

      </ul>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
